body {
    background-image: url(background.jpg);
    text-align: center;
    font-variant-caps: all-petite-caps;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 75px;
}

mark.Alice-Blue {
    background-color: aliceblue;
    color: rgb(0, 0, 145);
}
.oldlace {
    background-color: oldlace;
    width:fit-content;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee Spice', cursive;
}
.preview-texts {
    font-size:30px;
    background-color: rgb(240, 236, 214);
    width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
h6{
    font-size: 30px;
    background-color: rgb(138, 173, 173);
    margin: 10px;
}
.posts {
    text-align: center;
    border: 20px solid rgb(167, 221, 255);
}
#HW {
    width: 650px;
    height: 400px;
}
#study {
    width: 664.5px;
    height: 387px;
}
#links {
    font-size: 50px;
    margin-bottom: 20px;
}