body {
    background-image: url(background.jpg);
    text-align: center;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 50px;
}

mark.Alice-Blue {
    background-color: aliceblue;
    color: rgb(0, 0, 145);
}
mark.oldlace {
    background-color: oldlace;
}

h2 {
    text-align: center;
    font-size: 35px;
}

.posts {
    text-align: center;
    border: 10px solid rgb(227, 248, 255);
}
#brain {
    width: 250px;
    height: 251px;
}
#HW {
    width: 720px;
    height: 405px;
}
#nope {

}