body {
    background-image: url(background.jpg);
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
}

mark.Alice-Blue {
    background-color: aliceblue;
    color: rgb(0, 0, 145);
}
mark.uh {
    background-color: oldlace;
}

h2 {
    text-align: center;
}
.main-header {
    color:aqua;
}

#id {
    color:azure;
}